.row
  .span6
    %h4 Contacts

    %table#contacts.table.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Phone
          %th Action
      %tbody
        - @contacts.each do |contact|
          %tr{"data-test-name" => "contact"}
            %td{"data-test-name" => "contact_name"}= contact.name
            %td{"data-test-name" => "contact_phone"}= contact.phone
            %td= link_to "Delete", contact_path(contact), method: :delete, remote: true, class: "delete", "data-test-name" => "delete_link"

  .span6
    %h4 Add a Contact
    = simple_form_for Contact.new, html: {class: "form-inline"}, remote: true do |f|
      = f.input_field :name , class: "input-medium", "data-test-name" => "contact_name_field"
      = f.input_field :phone, class: "input-medium", "data-test-name" => "contact_phone_field"
      = f.submit "Add Contact", class: "btn", "data-disable-with" => "Adding.."
