.row
  .span6
    %h4 Contacts

    %table#contacts.table.table-hover
      %thead
        %tr
          %th(width=150) Name
          %th(width=150) Phone
          %th(width=65) Action
      %tbody
        = render "contact", contact: Contact.new, html_class: "template hide"
        = render partial: "contact", collection: @contacts, locals: { html_class: "" }

  .span6
    %h4 Add a Contact
    = simple_form_for Contact.new, html: {class: "form-inline"}, remote: true do |f|
      = f.input_field :name , class: "input-medium", "data-test-name" => "contact_name_field"
      = f.input_field :phone, class: "input-medium", "data-test-name" => "contact_phone_field"
      = f.submit "Add Contact", class: "btn", "data-disable-with" => "Adding.."
